body {
    height: 100vh;
    background-image:linear-gradient(to top, rgb(191, 221, 191), rgb(80, 197, 80)) ;
  }

form {
    display: flex;
    justify-content: center;
    padding: 220px;
}

fieldset {
    width: 100px;
    text-align: center;
    padding: 30px;
    background-color: #f3f0ec;
}

button {
    display: inline-block;
    width: 100%;
    height: 30px;
    background-image: linear-gradient(to left, yellowgreen, yellow);
    font-weight: bold;
  }

  a {
    text-decoration: none;
    font-size: 13px;
  }
  